
body {
  background-image: url("background.jpeg");
  color: white;
  font-size: 1.2rem;
  line-height: 1.45;
  display: flex;
  flex-wrap: wrap;
}

.movietitle {
	text-align: center;
	font-size: 3rem;
	
}

.movieimage {
	display: block;
    margin: 0 auto;
    position: relative;
    transition: 0.3s ease;
    cursor: pointer;
}

.movieimage:hover {
    transform: scale(1.5, 1.5); 
}

.reviewinfo {
	text-align: center;
}

.mainreview {
	border: white solid;
}

li a {
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}